body {
    text-align: center;
    padding: 20px;
}

.container {
    border: 2px solid rgb(0, 0, 9);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: whitesmoke;
    margin-top: 50%;
}

.registration {
    border: 2px solid rgb(15, 1, 1);
    border-radius:5px ;
    padding: 20px;
    text-align: center;
    width: 40%;
    background-color: whitesmoke;
}

h1 ,h2 {
    font-family:'Times New Roman', Times, serif;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button{
    border-radius: 5px;
}